@import 'color.scss';
@import 'fonts.scss';
@import 'commonStyle.scss';
@import 'movies-section.scss';

@include commonHeader;
.header{
    &__logo{
        margin: 0 auto;
    }
}

.heading{
    text-align: center;
}
.about-film{
    &__container{
        display: flex;
        align-items: start;
        justify-content: space-evenly;
    }
    &__info{
        color: $color-text;
        max-width: 300px;
    }
    &__heading{
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__description{
        font-weight: 300;
    }
    &__poster{
        height: 360px;
    }
}